<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content wrap-login100">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 font-weight-bold login100-form-title" id="staticBackdropLabel">Sign in</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Close click')"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="login100-form validate-form p-l-55 p-r-55 p-t-178"
              name="form"
              (ngSubmit)="onSubmit()"
              #f="ngForm"
              novalidate>

          <div class="form-group">
            <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
              <input class="input100 form-control" type="text"
                     name="username"
                     placeholder="Username"
                     [(ngModel)]="form.username"
                     required
                     #username="ngModel">
              <span class="focus-input100"></span>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="(username.dirty || username.touched) && username.invalid"
              >
                Username is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="wrap-input100 validate-input" data-validate="Please enter password">
              <input class="input100" type="password"
                     name="password"
                     placeholder="Password"
                     [(ngModel)]="form.password"
                     required
                     minlength="4"
                     #password="ngModel">
              <span class="focus-input100"></span>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="(password.dirty || password.touched) && password.invalid"
              >
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 4 characters
                </div>
              </div>
            </div>
          </div>
          <div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							Forgot
						</span>

            <a href="#" class="txt2">
              Username / Password?
            </a>
          </div>
          <div class="form-group">
            <div class="container-login100-form-btn">

              <button class="login100-form-btn"   (click)="onSubmit()">
                Sign in
              </button>
            </div>
          </div>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >
              Invalid credentials: {{ errorMessage }}
            </div>
          </div>
          <div class="flex-col-c p-t-170 p-b-40">
						<span class="txt1 p-b-9">
							Don’t have an account?
						</span>

            <a data-toggle="modal" data-target="#staticBackdrop1" data-dismiss="modal" (click)="openSignUpForm()" class="txt3">
              Sign up now
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
