.menu-petclinic{
  border-top: 4px solid #6db33f;
  background-color: #34302d;
  margin-bottom: 0px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.navbar a.navbar-brand span {
  display: block;
  width: 235px;
  height: 46px;
  background-color: #32c69a;
  /*background: url("../../assets/img/paw_logo_green.png") -1px -12px no-repeat;*/
  opacity: 0;
  -moz-transition: opacity 0.12s ease-in-out;
  -webkit-transition: opacity 0.12s ease-in-out;
  -o-transition: opacity 0.12s ease-in-out;
}

.navbar a:hover.navbar-brand {
  opacity: 1;
}

.logo{
  margin: 12px 0 6px;
  width: 235px;
  height: 46px;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  background: url("../../assets/img/paw_logo_green.png") -1px -12px no-repeat;
}

ul.navbar-nav{
  margin-left: 25px;
}
