<header class="header" id="header">
  <div>
    <div class="header_nav" id="header_nav_pin">
      <div class="header_nav_inner">
        <div class="header_nav_container">
          <div class="container">
            <div class="row">
              <a href="/">
                <div class="logo navbar-brand"></div>
              </a>
              <div class="col">
                <div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
                  <nav class="main_nav">
                    <ul class="d-flex flex-row align-items-center justify-content-start">
                      <li><a routerLink="/">Home</a></li>
                      <li><a routerLink="/vets">Vets</a></li>
                      <li><a routerLink="/err">Services</a></li>
                      <li><a routerLink="/err"> Owner's Page</a></li>
                    </ul>
                  </nav>
                  <div class="search_content d-flex flex-row align-items-center justify-content-end ml-auto">

                    <ul class="d-flex flex-row align-items-center justify-content-end">
                      <li *ngIf="!isLoggedIn">
                        <a data-toggle="modal" (click)="openLoginForm()"
                           data-target="#staticBackdrop">Login</a>
                      </li>
                      <li *ngIf="!isLoggedIn">
                        <a data-toggle="modal"  (click)="openSignUpForm()"
                           data-target="#staticBackdrop1">Sign Up</a>
                      </li>
                      <li *ngIf="isLoggedIn">
                        <a class="nav-link" (click)="logout()">Sign Out</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
