<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="section_title">{{title}}</div>
    </div>
  </div>
  <div class="row doctors_row">

    <!-- Doctor -->
    <div *ngFor="let vet of vets " class="col-xl-3 col-md-6">
      <div class= "doctor">
        <div class="doctor_image"><img src="http://localhost:8080/images/doctors/{{vet.photo}}" alt=""></div>
        <div class="doctor_content">
          <div class="doctor_name"><a href="#">{{vet.firstName}} {{vet.lastName}}</a></div>
            <div *ngFor="let spec of vet.specialities">
            <div class="doctor_title"><span>{{spec.description}}</span></div>
            </div>
          <div class="doctor_link"><a href="#">+</a></div>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col">
      <div class="button doctors_button ml-auto mr-auto"><a
        href="#"><span>see all doctors</span><span>see all doctors</span></a></div>
    </div>
  </div>
</div>
